<html>
    <head>
        <title>Vue.js Pet Depot</title>
        <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>

        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css" />
    
         <style>
        img {
            width: 300px;
        }
        </style>
    </head>
    <body>
        <div id="app">
            <header>
                <h1 v-text="sitename"></h1>
                <button v-on:click="showCheckout">
                    {{ cartItemCount }}
                    <span class="fas fa-cart-plus"></span> Checkout
                </button>
            </header>
            <main>
                <div v-if="showProduct">
                <figure>
                    <img v-bind:src="product.image">
                </figure>

                <h2 v-text="product.title"></h2>

                <p v-text="product.description"></p>

                <p>Price: {{product.price}}</p>
                <p>Available Inventory: {{product.availableInventory}}</p>

                <button v-on:click="addToCart" v-if="canAddToCart">
                Add to cart
                </button>

                <button disabled='disabled' v-else>
                Add to cart
                </button>
                </div>

                <div v-else>
                    <h2>Checkout</h2>
                    <p>
                        <strong>First Name:</strong>
                        <input v-model.trim="order.firstName"/>
                    </p>

                    <p>
                        <strong>Last Name:</strong>
                        <input v-model.trim="order.lastName"/>
                    </p>

                    <p>
                        <strong>Address:</strong>
                        <input v-model="order.address"/>
                    </p>

                    <p>
                        <strong>City:</strong>
                        <input v-model="order.city"/>
                    </p>

                    <p>
                        <strong>State:</strong>
                        <select v-model="order.state" class="form-control">
                            <option disabled value="">State</option>
                            <option v-bind:value="states.AL">AL</option>
                            <option v-bind:value="states.AR">AR</option>
                            <option v-bind:value="states.CA">CA</option>
                            <option v-bind:value="states.NV">NV</option>
                        </select>
                    </p>

                    <p>
                        <strong>Zip/Postal Code:</strong>
                        <input v-model.number="order.zip" type="number"/>
                    </p>

                    <h2>Order Information</h2>

                    <p>First Name: {{order.firstName}}</p>
                    <p>Last Name: {{order.lastName}}</p>
                    <p>Address: {{order.address}}</p>
                    <p>City: {{order.city}}</p>
                    <p>Zip: {{order.zip}}</p>
                    <p>State: {{order.state}}</p>

                    <p>
                        <input type="checkbox" id="gift" value="true"
                        v-model="order.gift"
                        v-bind:true-value="order.sendGift"
                        v-bind:false-value="order.dontSendGift">
                        <label for="gift">Ship As Gift?</label>
                    </p>

                    <p>
                        <input type="radio" id="home" value="Home" v-model="order.method">
                        <label for="home">Home</label>

                        <input type="radio" id="business" value="Business" v-model="order.method">
                        <label for="business">Business</label>
                    </p>

                    <button v-on:click="submitForm">Place Order</button>
                </div>
            </main>
        </div>
        <script type="text/javascript">
            var webstore = new Vue({
                el: '#app', // <=== Don't forget this comma
                data: { 
                    showProduct: true,
                        // the 'data' option
                        // the key 'sitename' matches the value of 'v-text' earlier
                        states: {
                            AL: 'AL',
                            AR: 'AR',
                            CA: 'CALIFORNIA',
                            NV: 'NV'
                        },
                        
                        order: {
                            firstName: '',
                            lastName: '',
                            address: '',
                            city: '',
                            state: '',
                            zip: '',
                            gift: false,
                            method: '',
                            sendGift: 'Send as Gift',
                            dontSendGift: 'Do not send as Gift'
                        },

                        sitename: 'Vue.js Pet Depot',
                        product: {
                        id: 1001,
                        title: "Cat Food, 25lb bag",
                        description: "A 25 pound bag of irresistible, organic goodness for your cat.",
                        price: 2000,
                        image: "images/pett.jpeg",
                        availableInventory: 5
                        },
                        cart: [] // array to store items in shopping cart
                    },

                    computed: { // the Computed Property object
                        cartItemCount: function() { // the property name
                        // its value is calculated when it is called
                            return this.cart.length || "";
                        },
                        canAddToCart: function() {
                            return this.product.availableInventory > 0;
                        }
                    },
                    
                    methods: {
                        addToCart: function () {
                            this.cart.push
                                (this.product.id);
                            this.product.availableInventory--;
                        },
                        showCheckout: function() {
                            this.showProduct = this.showProduct ? false : true;
                        },
                        
                        submitForm: function() {
                            alert('Order submitted!');
                        }
                    }
                });
        </script>
    </body>
</html>
